[Unit]
Description=Start Hyprland as User

[Service]
Type=exec
ExecStartPre=/usr/bin/hyprland --verify-config
ExecStart=/usr/bin/hyprland

[Install]
WantedBy=default.target
